/* General Styling and buttons */


.button {
  padding: 3vw;
}

.button .learnMore {
  appearance: none;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: medium;
  font-weight: 800;
  background-color: #06FF1A;
  border: 1;
  cursor: pointer;
}

.button .learnMore:hover {
  background-color:#FF03FF;
  transition: 0.20s;
}
/* Header Styling */
* {
  font-family: "Source Code Pro", monospace;
}

body {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;

  margin: 0;
  border: 0;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #400140;
  position: fixed;
  font-size: small;
  height: 3.7rem;
  width: 100%;
  z-index: 30;
  box-shadow: 0px 0px 60px rgb(52, 51, 51);
}
.toplogo {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  margin-right: auto;
  margin-left: 1.5rem;
  background-color: #400140;
  width: 120px;
  height: auto;
  padding-top: 3.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 60px rgb(52, 51, 51);
}

.toplogo img {
  height: auto;
  width: 63%;
  cursor: pointer;
}

nav {
  position: absolute;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav li a {
  color: lightgray;
  padding: 1px;
  text-decoration: none;
  cursor: pointer;
}
nav li a:hover {
  color: #06FF1A;
  font-size: 110%;
  transition: 0.20s;
}

/* Banner Styling */

.caption {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  position: relative;
  font-size: 4vw;
  height: auto;
  width: 50vw;
  left: 18vw;
  color: #242323;
  text-shadow: #e0e0e0 1px 1px 0;
  top:7vw;
  order: 6px solid black;
  z-index: 25;
}

.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  top: 0vw; 
}

.banner img {
  flex: 1;
  position:relative;
  left: 14.5vw;
  bottom: 20vw;
  height: auto;
  width: 85vw;
  border-radius: 8px;
  
}

/* Product Info Styling */

.productDescription {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  flex: 1;
  height: 48vw;
  margin-top: 0;
  background-color: lightgray;
  padding-bottom: 3%;
}

.descriptionText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 60%;
  background-color: #400140;
  color: lightgray;
  font-size: medium;
  border-radius: 8px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  box-shadow: 0px 10px 15px rgb(52, 51, 51);
}

/* Mission Statement */

.missionStatement {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  
  
}
.missionStatement h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-bottom: 10vw;
  align-items: center;
  align-content: center;
  padding: 2vw;
  background-color: ;
  border-radius: 8px;
  border: solid;
  background-color: #06FF1A;
}

.missionIcons ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  list-style: none;
  font-size: medium;
  padding-bottom: 60px;
}
.missionIcons ul li {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: .8rem;
  margin-right: 3vw;
}
.missionIcons ul i {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 2vw;
  font-size: 400%;
  padding: 20%;
  color: #FF03FF;
  border-radius: 50%;
  border: solid 1px lightgray ;
}
.missionIcons ul i:hover {
  background-color: #06FF1A;
  border-radius: 50%;
  transition: .2s;
  padding: 20%;
  border: 1px solid black;
}

.missionText {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 75%;
  background-color: #400140;
  color: lightgray;
  font-size: medium;
  border-radius: 8px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  box-shadow: 0px 10px 15px rgb(52, 51, 51);
}

/* Footer Styling */

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #400140;
  position: relative;
  bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
  font-size: small;
  height: 10rem;
  width: 100%;
  z-index: 40;
  align-self;
}

footer ul {
  text-decoration: none;
}

footer .footerList {
  display: flex;
  list-style-type: none;
  position: relative;
}

footer li {
  margin-right: 20px;
}

footer li a {
  display: flex;
  color: lightgray;
  padding: 1px;
  text-decoration: none;
  cursor: pointer;
}

footer li a:hover {
  color: #06FF1A;
  font-size: 110%;
  transition: 0.20s;
}

footer div ul {
  display: flex;
  list-style: none;
}


footer i {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #06FF1A;
  cursor: pointer;
  text-decoration: none;
  font-size: 200%;
}

footer i:hover {
  color:#FF03FF;
  font-size: 250%;
  transition: 0.20s;
}

.spinningLogo {
  align-items: center;
  justify-content: center;
  background: lightgray;
  padding: .1rem;
  border-radius: 50%;
 
}

.spinningLogo img {
  width: 7rem;
  height: auto;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Query for smaller screens */

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: auto;
    position: relative;
  }
  .toplogo {
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-top: 0.5rem;
    border-radius: 0;
    box-shadow: none;
  }
  .toplogo img {
    width: 20%;
  }
  nav {
    position: static;
    margin-top: 1rem;
  }
  .navbarlist {
    flex-direction: column;
    align-items: center;
  }
  .navbarlist li {
    margin: 0.5rem;
  }
  .caption {
    font-size: 150%;

    left:
  }

  .banner {
    
    position: relative;
    
  }
